<div class="container">
<%= form_for @reservation do |form| %>
  <% if @reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% @reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="form-group">
    <%= form.label :number_of_hours, style: "display: block" %>
    <%= form.number_field :number_of_hours, class: "form-control",max: 12, min: 1  %>
  </div>

  <div class="form-group">
    <%= form.label :vehicle_number, style: "display: block" %>
    <%= form.text_field :vehicle_number , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :Booking_status, style: "display: block" %>
    <%= form.select(:status, Reservation.statuses.collect {|k,v| [k.humanize,k]}, {:prompt => 'Select Reservation Type'},{ :class => 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Back to slots page', slots_path, class: "btn-white btn btn-xs" %>
